<!-- <%- include("partials/admin-header.ejs") %>
<section class="admin-buttons">
    <p class="message">Warning: Pressing this button will delete all blog posts!</p>
    <form action="/delete-all?_method=DELETE" method="POST">
        <input type="submit" class="type-button big" value="Delete All">
    </form>
</section>
<%- include("partials/footer.ejs") %> -->